  <div class="row align-items-center" id="services-title">
    <div class="col-1"><strong>Id</strong></div>
    <div class="col-2"><strong>Assunto</strong></div>
    <div class="col-1"><strong>Autor</strong></div>
    <div class="col-2"><strong>Responsáveis</strong></div>
    <div class="col-2"><strong>Status</strong></div>
    <div class="col-1"><strong>Criado</strong></div>
    <div class="col-1"><strong>Atualizado</strong></div>
    <div class="col-1">-</div>
    <div class="col-1">-</div>
    <div class="container-fluid">
        <div class="container-fluid col-12 line"></div>
    </div>
  </div>