<% provide(:title, 'All users') %>
<center><h1>Usuários</h1></center>


<ul class="users">
  <div class="row">
  <% @users.each do |user| %>
    <li class="col-4">
    	<span>
          <% if user.picture? %>
      			<%= image_tag user.picture.url, size: 50 %>
      		<%end%>
      </span>
    </li>

    <li class="col-6">
      <br/>
      <br/>
     	<%= link_to user.name, user %>
    </li>

    <li class="col-2">
        <br/>
        <br/>
        <% if current_user.admin? && !current_user?(user) %>
          <%= link_to "delete", user, 
                                method: :delete,
                                data: { confirm: "Deletar #{user.name}?" } %>
        <% end %>
    </li>
  <% end %>
  </div>
</ul>
