<center><h1><%= @department.name %></h1></center>

<h2>Setores:</h2>
<ul class="users">
	<div class="row">
		<%= render @department.sectors %>
	</div>
</ul>

<br />
<br />
<p>
	<h2>Adicionar Setor:</h2>
	<%= render "sectors/sector_form" %>
</p>